# Environment & Secrets
.env
.env.*
!.env.example

# Python
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Storage & Cache
.storage/
temp_uploads/
.cache/
data/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# scripts
.scripts/
scripts/